<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="configuration4NetSection" type="Configuration4Net.Configuration4NetSection, Configuration4Net"/>
  </configSections>
  <configuration4NetSection xmlns="urn:Configuration4Net">
    <configManagers>
      <configManagerSection name="Default" appName="Default" loaderType="Configuration4Net.HttpLoader,Configuration4Net">
        <properties>
          <property name="ConfigURL" value="http://localhost/App.xml"/>
        </properties>
      </configManagerSection>
    </configManagers>
  </configuration4NetSection>
</configuration>